# .gitignore

# ============================================
# SECRETS - NUNCA COMITAR!
# ============================================
.env
.env.dev
.env.staging
.env.prod
.env.local
venv

# Credenciais GCP
include/config/

# ============================================
# Python
# ============================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# ============================================
# DBT
# ============================================
include/dbt/dbtMarketing/target
include/dbt/dbtMarketing/dbt_packages/
include/dbt/dbtMarketing/logs/

# ============================================
# Dados Locais
# ============================================
data/
*.csv
*.parquet
*.json.gz

# ============================================
# IDEs
# ============================================
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# ============================================
# Notebooks
# ============================================
.ipynb_checkpoints/
*.ipynb

# ============================================
# Docker
# ============================================
.dockerignore
docker-compose.override.yml